{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'profile' %}">Cuenta</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Cambiar contraseña</li>
                </ol>
            </nav> 
        </div>
    </div>
</div> 
<div class="container col-lg-4 col-md-6">   
	<div class="col-lg-12">
	    <h1>{% trans "Change Password" %}</h1>

	    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
	        {% csrf_token %}
	        {{ form|crispy }}<br>
	        <button class="btn btn-success btn-md btn-block" name="action" type="submit">{% trans "Change Password" %}</button><br>
	    	<a href="{% url 'home' %}" class="btn btn-danger btn-md btn-block" role="button">Cancelar</a>
	    </form>
	</div>
</div>
<br><br><br><br>
{% endblock %}
