{% load widget_tweaks %}

<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="modal-header" style="background-color: #EE1F1F; color:#fff;">
    <h4 class="modal-title">Eliminar {{object.nombre}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>¿Está seguro que de desea eliminar
      <strong>{{ producto.nombre }}</strong>?</p>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  </div>

</form>