{% extends 'base.html'%}
{% block content%}
<div class="container"><br>
  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>   
      {{ message }} 
    </div>
  {% endfor %}  
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Productos</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'productos:home_inventario' %}">Inventario</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Productos</li>
                </ol>
            </nav>     
        </div>    
    </div><br>
<div class="container-fluid">
  <div class="row">
          <div class="col-12 mb-3">
            <button class="create-producto btn btn-primary" type="button" name="button">
              <span class="fa fa-plus mr-2"></span>Agregar producto</button>
          </div>
          
          <div class="col-12 mb-3">
              <table id="product-table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                <thead class="alert-info">
                  <tr>
                    <!--<th class="text-center">#</th>-->
                    <th class="text-center">Categoría</th>
                    <th class="text-center">Código</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Marca</th>
                    <th class="text-center">Precio de Venta</th>
                    <th class="text-center">Stock Disponible</th>
                    <th class="text-center">Actualización</th>
                    <!--<th class="text-center">Imagen</th>-->
                    <th class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for producto in productos %}
                    <tr>
                      <!--<th class="text-center" scope="row">{{ forloop.counter }}</th>-->
                      <td class="text-center">{{ producto.categoria }}</td>
                      <td class="text-center">{{ producto.codigo }}</td>
                      <td class="text-center">{{ producto.nombre }}</td>
                      <td class="text-center">{{ producto.marca }}</td>
                      <td class="text-center">{{ producto.precio }}</td>
                      <td class="text-center">{{ producto.stock }}</td>
                      <td class="text-center">{{ producto.update_at| date:"d M. Y, G:i" }}</td>
                      <!--<td class="text-center"><a href="{{ producto.imagenes.url }}">{{ producto.imagenes }}</a></td>-->
                      <td class="text-center">
                        <button type="button" class="read-producto btn btn-sm btn-info" data-id="{% url 'productos:detalle_producto' producto.pk %}">
                          <span class="fa fa-eye"></span>
                        </button>
                        <button type="button" class="update-producto btn btn-sm btn-primary" data-id="{% url 'productos:modificar_producto' producto.pk %}">
                          <span class="fa fa-pencil"></span>
                        </button>
                        <button type="button" class="delete-producto btn btn-sm btn-danger" data-id="{% url 'productos:eliminar_producto' producto.pk %}">
                          <span class="fa fa-trash"></span>
                        </button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>            
          </div>
        </div>
    </div>
  </div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div><br>
{% endblock content%}